  body {
            font-family: Vazirmatn, sans-serif;
            background-color: #f4f4f4;
            padding: 0 20px;
        }
        .container {
            max-width: 480px;
            margin: 0 auto;
            direction: rtl;
        }
		
	h1 {
    	background: #34c7cf;
    	line-height: 50px;
    	text-align: center;
    	color: #FFF;
    	border-radius: 0 0 20px 20px;	
	}
	h1,h2 {font-size: 1rem;}
        p{text-align: justify; color: var(--bs-secondary-color) !important; font-size:0.86em;}
        .content h3 {
            color: #333;
        }
        .content p {
            color: #777;
	    text-align:right;
	    font-size: 0.86em;	
        }
        .device{padding: 5px 0 5px 0 !important;}
        .device div{justify-content: space-between !important;}
		
        .row>* { margin-top: 0 !important; }
        .box {
            border: 1px solid #ddd;
            background-color: white;
            overflow: hidden;
        }
        .box img {
            width: 100%;
        }
        button#verify-btn{
            float: left;
        }
        .radius{border-radius: 20px;}
		.radius15{border-radius: 15px;}
        .content {
            padding: 15px;
        }
        
        
        .infobox { text-align: center; padding:15px; margin-bottom: 10px;}
        .infobox ul {
            padding: 20px;
            margin: 0;
            text-align: right;
        }
        .infobox li {
            margin-bottom: 10px;
            font-size: 14px;
        }
        // <uniquifier>: Use a unique and descriptive class name
        // <weight>: Use a value from 100 to 900

        .vazirmatn-<uniquifier> {
          font-family: "Vazirmatn", sans-serif;
          font-optical-sizing: auto;
          font-weight: <weight>;
          font-style: normal;
}
.subscription-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .subscription-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .subscription-option:hover {
        background-color: #e0e0e0;
    }
    .subscription-type {
        text-align: right;
        flex-grow: 1;
    }
    .price-box {
        background-color: #34c7cf;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

.subscription-option {
    position: relative;
}

.ribbon {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff5722;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(15deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
